.expense-header, .details-expense-transactions, .details-balances-comments{
    padding: 1rem;
    font-size: 1rem;
    border-bottom: 1px solid #ddd;
}

.expense-header{
    cursor: pointer;
    display: flex;
    align-items: center;
}

.expense-header:hover{
    background-color: #f8f8f8;
}

.expense-description{
    font-weight: bold;
}

.expense-transactions-details{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    flex-direction: column;
    text-align: center;
}

.delete-expense{
    display: flex;
    align-items: center;
}

.delete-expense-button{
    border: none;
    background-color: transparent;
    color: transparent;
    display: flex;
    font-weight: bold;
}

.expense-header:hover .expense-transactions .delete-expense .delete-expense-button{
    color: red;
}

.delete-expense-button:hover{
    text-decoration: underline;
    cursor: pointer;
}

.expense-payer{
    color: #999;
    font-size: 0.75rem;
    padding-bottom: 0.25rem;
}

.expense-amount{
    font-weight: bold;
}

.expense-currentuser-balance{
    color: #5bc5a7;
    font-weight: bold;
}

.expense-balance{
    color: #ff652f;
    font-weight: bold;
}

.expense-header, .expense-transactions, .expense-transactions-details{
    display: flex;
}

.expense-description, .expense-transactions, .expense-transactions-details{
    flex: 1;
}


.expense-details{
    display: none;
}

.details-expense-transactions, .details-balances-comments{
    background-color: #f8f8f8;
}

.details-balances-comments{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.details-expense-description{
    margin-bottom: 0.25rem;
}

.details-expense-amount{
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.details-expense-owner{
    color: #999;
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
}

.details-expense-button, .post-comment-button{
    background-color: #ff652f;
    color: white;
    border-radius: 5px;
    font-size: 0.75rem;
    border: 1px solid rgba(0,0,0,0.12);
    cursor: pointer;
}

.details-expense-balances ul li{
    font-size: 0.85rem;
    padding-bottom: 0.25rem;
}

.friend-owes{
    font-size: 1rem;
    color: #5bc5a7;
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.you-owe{
    font-size: 1rem;
    color: #ff652f;
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.expense-comments{
    flex-direction: column;
    padding-left: 0.5rem;
}

.notes-comments{
    color: #999;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.comments-list{
    margin-bottom: 0.5rem;
}

.expense-comment{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.25rem;
    background-color: #fff;
}

.comment-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    padding: 0.25rem;
}

.delete-comment{
    background-color: #fff;
    border: none;
    text-decoration: none;
    color: red;
    cursor: pointer;
}

.delete-comment:hover{
    text-decoration: underline;
}

.comment-body{
    padding: 0.25rem;
}

.post-comment-body{
    margin-bottom: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.post-comment-button{
    padding: 0.25rem;
}