.modal-background{
    background-color: rgba(0,0,0,0.4);
}

.modal-container{
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.6);
}

.modal-header{
    background-color: #48be9d;
    color: white;
}